== ---
layout: base
title: About
language: en
permalink: /about/
== ---
= "\n\n"

= "{% include welcome.html content=site.introduction.en %}"

.about<>
  .about-title<>
    .container<>
      .title<>
        %h2<> About
        %p<> Feel free to reach out to me on the <a href="/contact/">contact me</a> page.

  .about-content<>
    .container<>
      .about-timeline<>
        = "{% for timeline in site.data.timeline %}"
        = "{% if timeline.language == page.language %}"
        = "{% include timeline.html events=timeline.events %}"
        = "{% endif %}"
        = "{% endfor %}"

  .about-world
    .about-world-title<>
      .container<>
        .title<>
          %h2<> Where in the world?
          %p<> Places I have been to in my travels.
    = "{% include map.html %}"

= "{% include latest.html posts=site.categories.en language='en' %}"

%div<>
